.App {
  text-align: center;
  height: 788px;
  background-size: cover;
  background-image: url("https://image.freepik.com/free-vector/digital-code-background_114588-924.jpg");
  background-repeat: no-repeat;
  
}

.button {
  text-decoration: none;
}
.button::-moz-focus-inner {
  border: 0;
}
.button {
  position: relative;
  width: 5.5rem;
  height: 5.5rem;
  margin: 1rem;
  border-radius: 50%;
}

.symbol::before,
.symbol::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  margin: auto;
  border-radius: 2px;
  content: "";
}
.symbol::before {
  width: 2rem;
  height: 0.3rem;
  background-color: #515676;
  transition: background-color 1s linear;
}
.plus .symbol::after {
  width: 0.3rem;
  height: 2rem;
  background-color: #515676;
}
.minus::before,
.minus::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  margin: auto;
  border-radius: 2px;
  content: "";
}
.minus::before {
  width: 2rem;
  height: 0.3rem;
  background-color: #515676;
  transition: background-color 1s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
